{% extends "bootstrap/base.html" %}

{% block title %}
    My Custom Flask Demo
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Hello</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        <form method="post" action="">

            <p>{{ form.name.label }} {{ form.name }}</p>

            {% for error in form.name.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ form.submit() }}
            {{ form.hidden_tag() }}
        </form>

        {% if name %}
            <p>Name: {{ name }}</p>
        {% endif %}
    </div>
{% endblock %}