{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    My Custom Flask Demo
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Hello</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                {{ wtf.quick_form(form) }}
                {% if name %}
                    <p>Name: {{ name }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}