{% macro table_head() %}
    <tr>
        <th>Month</th>
        <th>Rain</th>
        <th>Min</th>
        <th>Max</th>
    </tr>
{% endmacro %}

{% macro row(month, data, highlight) %}
    <tr>
        <td>{{ month }}</td>
        {{ cell(data[month]['rain'], highlight['rain']) }}
        {{ cell(data[month]['min'], highlight['min']) }}
        {{ cell(data[month]['max'], highlight['max']) }}
    </tr>
{% endmacro %}

{% macro cell(target, highlight) %}
    <td>
        {% set hl = target <= highlight %}
        {% if hl %}<b>{% endif %}
        {{ target }}
        {% if hl %}</b>{% endif %}
    </td>
{% endmacro %}