{% extends "bootstrap/base.html" %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ city }} Weather
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Weather</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Weather in {{ city }}</h1>
        <table class="table table-hover">
            {{ macros.table_head() }}
            {% for month in months %}
                {{ macros.row(month, data, highlight) }}
            {% endfor %}
        </table>
    </div>
{% endblock %}