<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<h1>Weather in {{ city }}</h1>
<table>
    <tr>
        <th>Month</th>
        <th>Rain</th>
        <th>Min</th>
        <th>Max</th>
    </tr>

    {% for month in months %}
        <tr>
            <td>{{ month }}</td>
            <td>
                {% set hl = data[month]['rain'] <= highlight['rain'] %}
                {% if hl %}<b>{% endif %}
                {{ data[month]['rain'] }}
                {% if hl %}</b>{% endif %}
            </td>
            <td>
                {% set hl = data[month]['min'] <= highlight['min'] %}
                {% if hl %}<b>{% endif %}
                {{ data[month]['min'] }}
                {% if hl %}</b>{% endif %}
            </td>
            <td>
                {% set hl = data[month]['max'] >= highlight['max'] %}
                {% if hl %}<b>{% endif %}
                {{ data[month]['max'] }}
                {% if hl %}</b>{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>